[user]
	name = Aaron Gonzales
	email = xysmas@gmail.com
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[credential]
	helper = /usr/share/doc/git/contrib/credential/gnome-keyring/git-credential-gnome-keyring
[alias]
	co = checkout
	br = branch
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	type = cat-file -t
	dump = cat-file -p
[color]
	ui = auto
[core]
	excludesfile = /Users/agonzales/.gitignore_global
